p {
line-height: 1.5;
text-indent: 1cm;
}
.képek {
text-align: center;
float: none;
}
.kep{
    width: 280px;
    vertical-align: middle;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-width: 1px solid #4d0808;
    box-shadow: 3px 3px 10px #4d0808;    
}