p {
line-height: 1.5;
text-indent: 1cm;
}
.képek {
text-align: center;
float: none;
}
.kep{
    width: 280px;
    vertical-align: middle;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-width: 1px solid #4d0808;
    box-shadow: 3px 3px 10px #4d0808;    
}
.minikep{
    padding: 8px;
    margin: 4px;
    border-width: 2px 1px 2px 1px #4d0808;
    border-style: double solid double solid;
    border-color: coral;
    box-shadow:6px 6px 8px #4d0808;
}
h1{
    color: coral;
}
h2{
    color:#4d0808;
    font-weight: lighter;
    text-indent: 5cm;
    text-shadow: 3px 3px 4px coral;
}
ul{
    list-style-type:circle;
    margin: 0 5cm 0 5cm;
}
body {background-color: rgb(0, 0, 0, 0.8);
    color: white;
}