body {
  background-image: url("Kepek/background/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
}

p {
    color: #4d0808;
}

table {
  border: 1px solid #aa7777;     
  border-collapse: collapse;     
  margin: 0 auto;                
}

th, td {
  border: 1px solid #aa7777;     
  padding: 0.5rem;               
}

.minikep {
  float: right;
  width: 400px;
  margin-left: 20px;
  border: 3px solid #4d0808;
}